@using System.Security.Claims
@using AssistClub.UI.Blazor.Components.Enums
@using AssistClub.UI.Blazor.HttpClients
@using AssistClub.UI.Blazor.Models
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

@inject IStringLocalizer<NavBarResources> NavBarLocalizer
@inject NavigationManager Navigation
@inject QuestionHttpClient QuestionHttpClient

<AuthorizeView>
    <Authorized>
        <div class="search-bar d-flex gap-2">
            <RadzenAutoComplete @bind-Value="@_searchTerm" LoadData="@OnSearchChanged" Data="@_suggestedQuestions"
                                TextProperty="@nameof(QuestionApiResponse.Title)" class="w-100">
                <Template Context="question">
                    <NavLink href="@($"question/{question.Id}")">
                        <div class="d-flex flex-column">
                            <h5 class="mb-1 fw-medium truncate-text">
                                <NavLink href="@($"question/{question.Id}")">@question.Title</NavLink>
                            </h5>
                            <p class="mb-0 truncate-text lh-20 fs-13">
                                @question.PlainTextContent
                            </p>
                        </div>
                    </NavLink>
                </Template>
            </RadzenAutoComplete>
            <button class="btn btn-outline-primary" type="button" @onclick="PerformSearch">
                <i class="bi bi-search"></i>
            </button>
            <div class="dropdown">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi bi-funnel"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="mx-3 mb-2">
                        <label for="startDate">@NavBarLocalizer["StartDateLabel"]</label>
                        <input type="date" id="startDate" class="form-control" @bind="@_startDate" />
                    </div>
                    <div class="mx-3 mb-2">
                        <label for="endDate">@NavBarLocalizer["EndDateLabel"]</label>
                        <input type="date" id="endDate" class="form-control" @bind="@_endDate" />
                    </div>
                    <button class="btn btn-primary mx-3 my-2" type="button" @onclick="PerformSearch">@NavBarLocalizer["ApplyFiltersLabel"]</button>
                </div>
            </div>
        </div>
 
        <ul class="navbar-nav flex-row flex-wrap ms-sm-auto align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ps-2 user" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="media media-card mb-0 rounded-0 align-items-center bg-transparent">
                        <div class="media-img flex-shrink-0 rounded-circle me-2">
                            <img src="@context.User.FindFirst("photo")?.Value" alt="avatar" class="rounded-circle media-img-xs">
                        </div>
                        <div class="text-start">
                            <div class="d-flex align-items-center gap-1">
                                <span class="hidden xl:block text-sm font-semibold">@context.User.FindFirst(ClaimTypes.GivenName)?.Value</span>
                                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.29241 5.20759C0.901881 4.81707 0.90188 4.18391 1.29241 3.79338C1.68293 3.40286 2.31609 3.40286 2.70662 3.79338L5.99951 7.08627L9.2924 3.79338C9.68293 3.40286 10.3161 3.40286 10.7066 3.79338C11.0971 4.18391 11.0971 4.81707 10.7066 5.20759L6.70662 9.2076C6.31609 9.59812 5.68293 9.59812 5.2924 9.2076L1.29241 5.20759Z" fill="currentColor"></path>
                                </svg>
                            </div>
                            <span class="hidden xl:block text-xs text-lightgray">@context.User.FindFirst("club")?.Value</span>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item d-flex align-items-center" href="/user">@NavBarLocalizer["MyProfileLabel"]</a></li>
                    <li><a class="dropdown-item d-flex align-items-center" href="/logout">@NavBarLocalizer["SignOutLabel"]</a></li>
                </ul>
            </li>
        </ul>
    </Authorized>
</AuthorizeView>

@code {
    private string _searchTerm = string.Empty;
    private IEnumerable<QuestionApiResponse>? _suggestedQuestions = new List<QuestionApiResponse>();
    private DateTime? _startDate;
    private DateTime? _endDate;

    private void PerformSearch()
    {
        var url = "/search";    
        var parameters = new List<string>();
        
        if (!string.IsNullOrWhiteSpace(_searchTerm))
            parameters.Add($"query={Uri.EscapeDataString(_searchTerm)}");

        if (_startDate.HasValue)
            parameters.Add($"from={_startDate.Value:yyyy-MM-dd}");

        if (_endDate.HasValue)
            parameters.Add($"to={_endDate.Value:yyyy-MM-dd}");

        if (parameters.Any())
            url += "?" + string.Join("&", parameters);

        
        Navigation.NavigateTo(url, forceLoad: parameters.Any());
    }
    
    private async Task OnSearchChanged(LoadDataArgs args)
    {
        if (args.Filter.Length > 3)
        {
            _suggestedQuestions = await QuestionHttpClient.GetQuestionsFilteredAsync(QuestionVisibility.Public, args.Filter);
        }
    }
}