@page "/"
@using System.Net
@using System.Text.RegularExpressions
@using AssistClub.UI.Blazor.HttpClients
@using AssistClub.UI.Blazor.Models

@rendermode InteractiveServer
@inject QuestionHttpClient QuestionHttpClient

<PageTitle>Home</PageTitle>

<h1>All Questions</h1>

<div class="questions-list border-top">
    <RadzenDataList WrapItems="false" AllowPaging="true" Data="@_questions" TItem="QuestionApiResponse" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" PagingSummaryFormat="@_pagingSummaryFormat" ShowEmptyMessage="true" EmptyText="No questions found">
        <Template Context="question">
            <div class="question-card d-flex rounded-0 shadow-none mb-0 bg-transparent p-2">
                @* <div class="extra-info text-center"> *@
                @*     <div class="vote pb-3"> *@
                @*         <span class="vote-count d-block text-center lh-20 fw-medium">3</span> *@
                @*         <span class="vote-text d-block fs-13 lh-18">votes</span> *@
                @*     </div> *@
                @*     <div class="answer"> *@
                @*         <span class="answer-count d-block text-center lh-20 fw-medium">1</span> *@
                @*         <span class="answer-text d-block fs-13 lh-18">answers</span> *@
                @*     </div> *@
                @* </div> *@
                <div class="question-body">
                    <h5 class="mb-2 fw-medium">
                        <a href="#">@question.Title</a>
                    </h5>
                    <p class="mb-2 truncate-text lh-20 fs-13">
                        @GetPlainTextFromHtml(question.Content)
                    </p>
                    <div class="question-footer d-flex align-items-center px-0 border-bottom-0 pb-0">
                        <div class="info-footer d-flex flex-wrap align-items-center justify-content-between">
                            <a href="#" class="d-block d-flex">
                                <img src="images/@(question.UserPhoto ?? "default.jpeg")" alt="avatar" class="user-img rounded-circle">
                                <h5 class="mb-0 align-content-center">@question.UserFullname</h5>
                            </a>
                            <small class="d-block text-end">
                                <span class="text-black d-block lh-18">@question.Status</span>
                                <span class="d-block lh-18 fs-12">@GetTimeAgo(question.CreatedAt)</span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </Template>
    </RadzenDataList>
</div>

@code {
    string _pagingSummaryFormat = "Displaying page {0} of {1} (total {2} questions)";
    private IEnumerable<QuestionApiResponse>? _questions;

    protected override async Task OnInitializedAsync()
    {
        _questions = await QuestionHttpClient.GetQuestionsAsync(QuestionVisibility.Public);
    }
    
    private string GetPlainTextFromHtml(string input)
    {
        string decoded = WebUtility.HtmlDecode(input);
        return Regex.Replace(decoded, "<.*?>", " ");
    }
    
    private string GetTimeAgo(DateTime? dateTime)
    {
        if (dateTime == null)
        {
            return "Unknown time";
        }

        var timeSpan = DateTime.UtcNow - dateTime.Value;

        if (timeSpan.TotalSeconds < 60)
        {
            return "Just now";
        }
        if (timeSpan.TotalMinutes < 60)
        {
            return $"{(int)timeSpan.TotalMinutes} minutes ago";
        }
        if (timeSpan.TotalHours < 24)
        {
            return $"{(int)timeSpan.TotalHours} hours ago";
        }
        if (timeSpan.TotalDays < 30)
        {
            return $"{(int)timeSpan.TotalDays} days ago";
        }
        if (timeSpan.TotalDays < 365)
        {
            return $"{(int)(timeSpan.TotalDays / 30)} months ago";
        }

        return $"{(int)(timeSpan.TotalDays / 365)} years ago";
    }
}