@page "/"
@using System.Net
@using System.Text.RegularExpressions
@using AssistClub.UI.Blazor.Helpers
@using AssistClub.UI.Blazor.HttpClients
@using AssistClub.UI.Blazor.Models

@rendermode InteractiveServer
@inject QuestionHttpClient QuestionHttpClient
@inject IStringLocalizer<AllQuestionsResources> AllQuestionsLocalizer

<PageTitle>@AllQuestionsLocalizer["PageTitle"]</PageTitle>

<h1>@AllQuestionsLocalizer["PageTitle"]</h1>

<div class="questions-list border-top">
    <RadzenDataList WrapItems="false" AllowPaging="true" Data="@_questions" TItem="QuestionApiResponse" PageSize="5" 
                    PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true" 
                    PagingSummaryFormat="@AllQuestionsLocalizer["PagingSummary"]" ShowEmptyMessage="true" EmptyText="@AllQuestionsLocalizer["EmptyText"]">
        <Template Context="question">
            <div class="question-card d-flex rounded-0 shadow-none mb-0 bg-transparent p-2">
                <div class="question-body">
                    <h5 class="mb-2 fw-medium">
                        <NavLink href="@($"question/{question.Id}")">@question.Title</NavLink>
                    </h5>
                    <p class="mb-2 truncate-text lh-20 fs-13">
                        @GetPlainTextFromHtml(question.Content)
                    </p>
                    <div class="question-footer d-flex align-items-center px-0 border-bottom-0 pb-0">
                        <div class="info-footer d-flex flex-wrap align-items-center justify-content-between">
                            <a href="#" class="d-block d-flex">
                                <img src="images/@(question.User.Photo ?? "default.jpeg")" alt="avatar" class="user-img rounded-circle">
                                <h5 class="mb-0 align-content-center">@(question.User.Firstname + " " + question.User.Lastname)</h5>
                            </a>
                            <small class="d-block text-end">
                                <span class="text-black d-block lh-18">@question.Status</span>
                                <span class="d-block lh-18 fs-12">@question.CreatedAt.GetTimeAgo(Localizer)</span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </Template>
    </RadzenDataList>
</div>

@code {
    private IEnumerable<QuestionApiResponse>? _questions;

    protected override async Task OnInitializedAsync()
    {
        _questions = await QuestionHttpClient.GetQuestionsAsync(QuestionVisibility.Public);
    }
    
    private string GetPlainTextFromHtml(string input)
    {
        string decoded = WebUtility.HtmlDecode(input);
        return Regex.Replace(decoded, "<.*?>", " ");
    }
}