@page "/question/{id}"
@using System.Security.Claims
@using AssistClub.UI.Blazor.HttpClients
@using AssistClub.UI.Blazor.Models
@using AssistClub.UI.Blazor.Extensions
@using AssistClub.UI.Blazor.Components.Answers
@using AssistClub.UI.Blazor.Components.Questions
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@attribute [Authorize]
@inject QuestionHttpClient QuestionHttpClient
@inject IStringLocalizer<QuestionResources> QuestionLocalizer
@inject DialogService DialogService
@inject NotificationService NotificationService
@inject NavigationManager Nav
@inject IStringLocalizer<QuestionStatusResources> QuestionStatusResources

@if (_question != null)
{
    <PageTitle>@_question.Title</PageTitle>
    
    <button class="btn btn-outline-primary mb-3 button-back" @onclick="GoBack">
        <i class="bi bi-arrow-left-circle me-1"></i> @Localizer["BackButton"]
    </button>
    
    <RadzenCard class="rz-mx-auto">
        <div class="question-details">
            <div class="d-flex">
                <h1 class="question-title">@_question.Title</h1>
                <AuthorizeView>
                    <Authorized Context="auth">
                        @{
                            var isAdmin = auth.User.IsInRole("Admin");
                            var isAuthor = auth.User.FindFirst(ClaimTypes.NameIdentifier)?.Value == _question.User.Id.ToString();
                        }
                        @if (isAdmin || isAuthor)
                        {
                            <button class="btn btn-sm btn-light mb-auto ms-auto" @onclick="() => OpenEditDialog(_question)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        }
                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="question-info">
                <span>
                    @QuestionLocalizer["AskedLabel"]:
                    <time class="info-time">@_question.CreatedAt.GetTimeAgo()</time>
                </span>
                <span>
                    @QuestionLocalizer["StatusLabel"]:
                    <span class="info-status">@QuestionStatusResources[_question.Status]</span>
                </span>
            </div>
            <div class="question-content">
                @((MarkupString)_question.Content)
            </div>
            <div class="question-author">
                <span class="author-span">@QuestionLocalizer["AskedByLabel"]:</span>
                <a href="user/@_question.User.Id">
                    <span class="author-image-span">
                        <img src="@(_question.User.Photo ?? "default.jpeg")" alt="avatar" class="author-img rounded-circle">
                    </span>
                    <span class="author-text-span">@_question.User.Firstname @_question.User.Lastname</span>
                </a>
            </div>
        </div>
    </RadzenCard>
    
    <AnswerList @ref="_answerList" QuestionId="@_question.Id" OfficialStatusChanged="ReloadQuestionAsync"/>
    <AnswerForm QuestionId="@_question.Id" AnswerCreated="OnAnswerCreated"/>
}
else
{
    <PageTitle>@QuestionLocalizer["NotFoundTitle"]</PageTitle>
    <h1 class="question-title">@QuestionLocalizer["NotFoundTitle"]</h1>
}


@code {
    [Parameter] public string Id { get; set; }
    private QuestionApiResponse? _question;
    private AnswerList? _answerList;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _question = await QuestionHttpClient.GetQuestionAsync(Guid.Parse(Id));
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
    
    private async Task RefreshAnswers()
    {
        if (_answerList != null)
        {
            await _answerList.RefreshAsync();
        }
    }
    
    private async Task ReloadQuestionAsync()
    {
        _question = await QuestionHttpClient.GetQuestionAsync(Guid.Parse(Id));
        StateHasChanged();
    }
    
    private async Task OnAnswerCreated()
    {
        await RefreshAnswers();
        await ReloadQuestionAsync();
    }
    
    private async Task OpenEditDialog(QuestionApiResponse question)
    {
        var parameters = new Dictionary<string, object>
        {
            { "Question", question },
            { "OnQuestionUpdated", EventCallback.Factory.Create<QuestionRequest>(this, async (updatedQuestion) =>
                {
                    var success = await QuestionHttpClient.UpdateQuestionAsync(question.Id, updatedQuestion);
                    if (success)
                    {
                        await ReloadQuestionAsync();
                        NotificationService.Notify(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = Localizer["Success"],
                            Detail = QuestionLocalizer["UpdateQuestionSuccessMessage"],
                            Duration = 4000
                        });
                    }
                    else
                    {
                        NotificationService.Notify(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = Localizer["Error"],
                            Detail = QuestionLocalizer["UpdateQuestionErrorMessage"],
                            Duration = 4000
                        });
                    }
                })
            }
        };
        
        await DialogService.OpenAsync<EditQuestionDialog>(@QuestionLocalizer["EditQuestionDialogTitle"], parameters);
    }
    
    private void GoBack()
    {
        Nav.NavigateTo("/");
    }
}