@page "/user"
@using AssistClub.UI.Blazor.HttpClients
@using AssistClub.UI.Blazor.Models

@inject UserHttpClient UserHttpClient

<PageTitle>Profile</PageTitle>

@if (_user != null)
{
    <div class="card">
        <div class="card-header">
            <h4>User Info</h4>
        </div>
        <div class="card-body">
            <p><strong>Firstname:</strong> @_user.Fullname</p>
            <p><strong>Email:</strong> @_user.Email</p>
            <p><strong>Photo:</strong> @_user.Photo</p>
            <p><strong>Club:</strong> @_user.Club</p>
            <p><strong>Microsite:</strong> @_user.Microsite</p>
        </div>
    </div>
} else
{
    <p>Loading...</p>
}

@code {
    private UserViewModel? _user;
    
    protected override async Task OnInitializedAsync()
    {
        _user = await UserHttpClient.GetUserByEmail("carlos@gmail.com");
    }
}